

.search-bar {
    margin-top: 10vh;
    margin-left: 50%;
    transform: translateX(-50%);
    height: max-content;
}

input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 30vw;
    height: 2rem;
    box-sizing: border-box;
    font-size: 18px;
}

button {
    margin-left: 15px;
    background-color: black;
    color: white;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}
